<div class="cover-wrapper">
    <manga-cover [id]="volume.id" [nsfw]="volume.nsfw === 1" [nsfw18]="volume.nsfw18 === 1" [aspectRatio]="volume.aspect_ratio"></manga-cover>
    <img class="language" [src]="`/img/flags/${toLocale(volume.language)}.png`">
    <div class="special-name" *ngIf="volume.special_name">
        {{ volume.special_name }}
    </div>
    <div class="collected" *ngIf="volume?.collected">
        <ng-icon name="lucideLibrary" [style.fontSize.px]="18"></ng-icon>
    </div>
</div>
<div class="details" [class.release-hidden]="!showRelease">
    <div class="name">{{ volume.name }}</div>
    <div class="pages"><span>{{ volume.pages || 0 }}</span>&nbsp;<ng-icon class="icon" name="solarNotebook"/></div>
</div>
<div class="release" [class.preorder]="preOrder(volume.release_date)" *ngIf="showRelease">
    <div *ngIf="volume?.release_date_text"><ng-icon class="icon" name="solarCalendar"/>&nbsp;{{ volume?.release_date_readable | translate }}</div>
    <div *ngIf="!volume?.release_date_text"><ng-icon class="icon" name="solarCalendar"/>&nbsp;{{ releaseDate(volume?.release_date) }}</div>
</div>