<div class="banner-wrapper">
    <div class="banner" *ngIf="series">
        <manga-cover *ngIf="series.volume?.id" [id]="series.volume.id" [nsfw]="false" [nsfw18]="false" fit="cover" [blur]="true" [aspectRatio]="series.volume.aspect_ratio"></manga-cover>
        <div class="banner-overlay"></div>
    </div>
    <div class="content" *ngIf="series" [class.loading]="loading">
        <div class="top-wrapper">
            <div class="cover-wrapper">
                <manga-cover *ngIf="series.volume?.id" [id]="series.volume.id" [nsfw]="false" [nsfw18]="false" [res]="'high'" [aspectRatio]="series.volume.aspect_ratio"></manga-cover>
            </div>
            <div class="details" *ngIf="editSeries">
                <label>
                    {{ 'series.name' | translate }}
                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                        <input tuiTextfield [(ngModel)]="editSeries.name">
                    </tui-textfield>
                </label>
                <label>
                    {{ 'series.slug' | translate }}
                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                        <input tuiTextfield [(ngModel)]="editSeries.slug" [readOnly]="true">
                    </tui-textfield>
                </label>
                <div class="wrapper">
                    <label>
                        {{ "series.type.label" | translate }}
                        <tui-select tuiTextfieldSize="s" [(ngModel)]="editSeries.type" [valueContent]="typeContent" [tuiTextfieldLabelOutside]="true">
                            <tui-data-list-wrapper *tuiDataList [itemContent]="typeContent" [items]="seriesTypes"></tui-data-list-wrapper>
                        </tui-select>
                    </label>
                    <label class="switch-input">
                        {{ "series.public" | translate }}
                        <input tuiSwitch type="checkbox" [(ngModel)]="editSeries.public" [size]="'m'"/>
                    </label>
                </div>
                <div class="header-title">{{ 'series.aliases' | translate }}</div>
                <div class="alias-wrapper">
                    <div class="alias" *ngFor="let alias of editSeries.aliases">
                        <img class="lang" [src]="`img/flags/${toLocale(alias.language)}.png`">
                        {{ alias.title }}&nbsp;<ng-icon name="tablerX" class="remove-icon" (click)="removeAlias(alias)"></ng-icon>
                    </div>
                    <div class="alias add" (click)="openAliasDialog()">
                        <ng-icon name="tablerPlus" class="icon"></ng-icon>&nbsp;{{ 'series.new-alias' | translate }}
                    </div>
                </div>
                <div class="header-title">
                    <span>{{ 'series.descriptions' | translate }}</span>
                    <button size="s" tuiButton type="button" class="add" appearance="accent" (click)="openDescriptionDialog()" *ngIf="series">{{ 'series.new-description' | translate }}</button>
                </div>
                <tui-tabs [(activeItemIndex)]="descriptionTabIndex" [size]="'m'" class="description-tabs" (activeItemIndexChange)="descriptionTabChanged($event)">
                    <button tuiTab type="button" *ngFor="let desc of editSeries.descriptions" (contextmenu)="removeDescription($event,desc)">
                        {{ `language.${toLocale(desc.language)}` | translate }}
                    </button>
                </tui-tabs>
                <tui-editor *ngIf="selectedDescription?.description != undefined" [(ngModel)]="selectedDescription.description" [tools]="tools" class="editor"></tui-editor>
                <div class="html-preview" *ngIf="selectedDescription?.description != undefined">
                    <textarea [(ngModel)]="selectedDescription.description"></textarea>
                </div>
                <label *ngIf="selectedDescription?.description != undefined">
                    {{ 'series.source' | translate }}
                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                        <input tuiTextfield [(ngModel)]="selectedDescription.source">
                    </tui-textfield>
                </label>
                <div class="header-title">
                    <span>{{ 'series.relations' | translate }}</span>
                    <button size="s" tuiButton type="button" class="add" appearance="accent" (click)="openRelationDialog()" *ngIf="series">{{ 'series.new-relation' | translate }}</button>
                </div>
                <div class="relation-wrapper">
                    <div class="relation-item" *ngFor=" let relation of editSeries?.relations" (contextmenu)="removeRelation(relation)">
                        <div class="name">{{ relation.name }}</div>
                        <label>
                            <tui-select tuiTextfieldSize="s" [(ngModel)]="relation.relation_type" [valueContent]="relationTypeContent" [tuiTextfieldLabelOutside]="true">
                                <tui-data-list-wrapper *tuiDataList [itemContent]="relationTypeContent" [items]="relationTypes"></tui-data-list-wrapper>
                            </tui-select>
                        </label>
                    </div>
                </div>
                <div class="header-title">
                    <span>{{ 'series.publishers' | translate }}</span>
                    <button size="s" tuiButton type="button" class="add" appearance="accent" (click)="openPublisherDialog()" *ngIf="series">{{ 'series.new-publisher' | translate }}</button>
                </div>
                <div class="publisher-wrapper">
                    <ng-container *ngFor="let publisher of editSeries?.publishers">
                        <div class="publisher-item">
                            <div class="buttons">
                                <ng-icon name="tablerPlus" class="add" (click)="addEdition(publisher)"></ng-icon>
                                <ng-icon name="tablerMinus" class="remove" (click)="removePublisher(publisher)"></ng-icon>
                            </div>
                            <div class="name">{{ publisher.name }}</div>
                            <div class="wrapper">
                                <label>
                                    {{ 'series.volumes' | translate }}
                                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                        <input tuiTextfield [(ngModel)]="publisher.volumes">
                                    </tui-textfield>
                                </label>
                                <label>
                                    {{ 'series.chapter' | translate }}
                                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                        <input tuiTextfield [(ngModel)]="publisher.chapter">
                                    </tui-textfield>
                                </label>
                                <label>
                                    {{ 'series.start' | translate }}
                                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                        <input tuiTextfield [(ngModel)]="publisher.start">
                                    </tui-textfield>
                                </label>
                                <label>
                                    {{ 'series.end' | translate }}
                                    <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                        <input tuiTextfield [(ngModel)]="publisher.end">
                                    </tui-textfield>
                                </label>
                            </div>
                            <div class="wrapper" [style.marginTop.px]="10">
                                <label>
                                    {{ 'series.status' | translate }}
                                    <tui-select tuiTextfieldSize="s" [(ngModel)]="publisher.status" [valueContent]="statusContent" [tuiTextfieldLabelOutside]="true">
                                        <tui-data-list-wrapper *tuiDataList [itemContent]="statusContent" [items]="seriesPublicationStatuses"></tui-data-list-wrapper>
                                    </tui-select>
                                </label>
                                <label>
                                    {{ 'language.label' | translate }}
                                    <tui-select tuiTextfieldSize="s" [(ngModel)]="publisher.language" [valueContent]="languageContent" [tuiTextfieldLabelOutside]="true">
                                        <tui-data-list-wrapper *tuiDataList [itemContent]="languageContent" [items]="availableLanguages"></tui-data-list-wrapper>
                                    </tui-select>
                                </label>
                                <label class="switch-input">
                                    {{ "series.origin" | translate }}
                                    <input tuiSwitch type="checkbox" [(ngModel)]="publisher.origin" [size]="'m'"/>
                                </label>
                            </div>
                        </div>
                        <ng-container *ngFor="let edition of editSeries.publisher_editions">
                            <div class="edition" *ngIf="edition.publisher_id == publisher.publisher_id">
                                <div class="buttons">
                                    <ng-icon name="tablerMinus" class="remove" (click)="removeEdition(edition)"></ng-icon>
                                </div>
                                <div class="wrapper">
                                    <label>
                                        {{ 'series.name' | translate }}
                                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                            <input tuiTextfield [(ngModel)]="edition.name">
                                        </tui-textfield>
                                    </label>
                                    <label>
                                        {{ 'series.status' | translate }}
                                        <tui-select tuiTextfieldSize="s" [(ngModel)]="edition.status" [valueContent]="statusContent" [tuiTextfieldLabelOutside]="true">
                                            <tui-data-list-wrapper *tuiDataList [itemContent]="statusContent" [items]="seriesPublicationStatuses"></tui-data-list-wrapper>
                                        </tui-select>
                                    </label>
                                    <label class="switch-input">
                                        {{ "series.default" | translate }}
                                        <input tuiSwitch type="checkbox" [(ngModel)]="edition.default_edition" [size]="'m'"/>
                                    </label>
                                </div>
                                <div class="wrapper" [style.marginTop.px]="10">
                                    <label>
                                        {{ 'series.volumes' | translate }}
                                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                            <input tuiTextfield [(ngModel)]="edition.volumes">
                                        </tui-textfield>
                                    </label>
                                    <label>
                                        {{ 'series.chapter' | translate }}
                                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                            <input tuiTextfield [(ngModel)]="edition.chapter">
                                        </tui-textfield>
                                    </label>
                                    <label>
                                        {{ 'series.start' | translate }}
                                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                            <input tuiTextfield [(ngModel)]="edition.start">
                                        </tui-textfield>
                                    </label>
                                    <label>
                                        {{ 'series.end' | translate }}
                                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                                            <input tuiTextfield [(ngModel)]="edition.end">
                                        </tui-textfield>
                                    </label>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="header-title">
                    <span>{{ 'series.contributors' | translate }}</span>
                    <button size="s" tuiButton type="button" class="add" appearance="accent" (click)="openContributorDialog()" *ngIf="series">{{ 'series.new-contributor' | translate }}</button>
                </div>
                <div class="contributor-wrapper">
                    <div class="contributor-item" *ngFor="let contributor of editSeries?.contributors" (contextmenu)="removeContributor($event,contributor)">
                        <div class="image" *ngIf="contributor.image">
                            <img crossorigin="anonymous" [src]="`${cdn_url}/contributor/image/${contributor.contributor_id}/scaled`">
                        </div>
                        <div class="image no-image" *ngIf="!contributor.image">
                            <ng-icon class="icon" name="matFaceOutline"></ng-icon>
                        </div>
                        <div class="details">
                            <div class="name">{{ contributor?.last_name?.toUpperCase() }} {{ contributor?.first_name }}</div>
                            <label>
                                {{ 'contributor.role' | translate }}
                                <tui-select tuiTextfieldSize="s" [(ngModel)]="contributor.type" [valueContent]="contributorTypeContent" [tuiTextfieldLabelOutside]="true">
                                    <tui-data-list-wrapper *tuiDataList [itemContent]="contributorTypeContent" [items]="contributorTypes"></tui-data-list-wrapper>
                                </tui-select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="header-title">
                    <span>{{ 'series.tags' | translate }}</span>
                    <button size="s" tuiButton type="button" class="add" appearance="accent" (click)="autoTags()" *ngIf="series">{{ 'series.auto-tags' | translate }}</button>
                </div>
                <div class="tag-wrapper">
                    <div class="tag" *ngFor="let tag of editSeries.tags">
                        {{ tag.name }}&nbsp;<ng-icon name="tablerX" class="remove-icon" (click)="removeTag(tag)"></ng-icon>
                    </div>
                    <div class="tag add" (click)="openTagDialog()">
                        <ng-icon name="tablerPlus" class="icon"></ng-icon>&nbsp;{{ 'series.new-tag' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="cancel" appearance="accent" (click)="removeLock()" *ngIf="series">{{ 'series.free-lock' | translate }}</button>
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="openScrapeDialog()" *ngIf="series">{{ 'series.scrape' | translate }}</button>
            <tui-loader class="loader" [overlay]="true" [showLoader]="saving">
                <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="saveEdit()" *ngIf="series">{{ 'series.save' | translate }}</button>
            </tui-loader>
        </div>
        <div class="placeholder" style="width: 100%; height: 20px;"></div>
    </div>
</div>

<div class="alias-dialog dialog" (click)="aliasDialogClick($event)" #aliasDialog>
    <div class="window" [class.show]="showAliasDialog">
        <div class="title">{{ 'add-alias-dialog.title' | translate }}</div>
        <label>
            {{ 'add-alias-dialog.alias' | translate }}
            <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                <input tuiTextfield [(ngModel)]="addAliasItem.name">
            </tui-textfield>
        </label>
        <label>
            {{ 'add-alias-dialog.language' | translate }}
            <tui-select tuiTextfieldSize="s" [(ngModel)]="addAliasItem.language" [valueContent]="languageContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="languageContent" [items]="availableLanguages"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addAlias()">{{ 'add-alias-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="description-dialog dialog" (click)="descriptionDialogClick($event)" #descriptionDialog>
    <div class="window" [class.show]="showDescriptionDialog">
        <div class="title">{{ 'add-description-dialog.title' | translate }}</div>
        <label>
            {{ 'add-description-dialog.language' | translate }}
            <tui-select tuiTextfieldSize="s" [(ngModel)]="addDescriptionItem.language" [valueContent]="languageContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="languageContent" [items]="availableLanguages"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addDescription()">{{ 'add-description-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="relation-dialog dialog" (click)="relationDialogClick($event)" #relationDialog>
    <div class="window" [class.show]="showRelationDialog">
        <div class="title">{{ 'add-relation-dialog.title' | translate }}</div>
        <tui-combo-box [(ngModel)]="addRelationItem" [valueContent]="seriesContent" [stringify]="stringifySeries" [tuiTextfieldSize]="'s'">
            <ng-container *tuiDataList>
                <cdk-virtual-scroll-viewport *tuiLet="typedSeries | tuiFilterByInput as items" appendOnly tuiScrollable class="scroll" autosize [style.height.px]="200" [itemSize]="32" (indexChange)="list.handleFocusLossIfNecessary()">
                    <tui-data-list #list [size]="'s'">
                        <button *cdkVirtualFor="let item of items" tuiOption type="button" [value]="item">
                            [{{ item.type }}] {{ item.name }}
                        </button>
                    </tui-data-list>
                </cdk-virtual-scroll-viewport>
            </ng-container>
        </tui-combo-box>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addRelation()">{{ 'add-relation-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="publisher-dialog dialog" (click)="publisherDialogClick($event)" #publisherDialog>
    <div class="window" [class.show]="showPublisherDialog">
        <div class="title">{{ 'add-publisher-dialog.title' | translate }}</div>
        <tui-combo-box [(ngModel)]="addPublisherItem" [valueContent]="publisherContent" [stringify]="stringifyPublisher" [tuiTextfieldSize]="'s'">
            <ng-container *tuiDataList>
                <cdk-virtual-scroll-viewport *tuiLet="typedPublishers | tuiFilterByInput as items" appendOnly tuiScrollable class="scroll" autosize [style.height.px]="200" [itemSize]="32" (indexChange)="list.handleFocusLossIfNecessary()">
                    <tui-data-list #list [size]="'s'">
                        <button *cdkVirtualFor="let item of items" tuiOption type="button" [value]="item">
                            {{ item.name }}
                        </button>
                    </tui-data-list>
                </cdk-virtual-scroll-viewport>
            </ng-container>
        </tui-combo-box>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addPublisher()">{{ 'add-publisher-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="contributor-dialog dialog" (click)="contributorDialogClick($event)" #contributorDialog>
    <div class="window" [class.show]="showContributorDialog">
        <div class="title">{{ 'add-contributor-dialog.title' | translate }}</div>
        <tui-combo-box [(ngModel)]="addContributorItem" [valueContent]="contributorContent" [stringify]="stringifyContributor" [tuiTextfieldSize]="'s'">
            <ng-container *tuiDataList>
                <cdk-virtual-scroll-viewport *tuiLet="typedContributors | tuiFilterByInput as items" appendOnly tuiScrollable class="scroll" autosize [style.height.px]="200" [itemSize]="32" (indexChange)="list.handleFocusLossIfNecessary()">
                    <tui-data-list #list [size]="'s'">
                        <button *cdkVirtualFor="let item of items" tuiOption type="button" [value]="item">
                            {{ item.name }}
                        </button>
                    </tui-data-list>
                </cdk-virtual-scroll-viewport>
            </ng-container>
        </tui-combo-box>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addContributor()">{{ 'add-contributor-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="tag-dialog dialog" (click)="tagDialogClick($event)" #tagDialog>
    <div class="window" [class.show]="showTagDialog">
        <div class="title">{{ 'add-tag-dialog.title' | translate }}</div>
        <label>
            <tui-select tuiTextfieldSize="s" [(ngModel)]="addTagItem" [valueContent]="tagContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="tagContent" [items]="allTags"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addTag()">{{ 'add-tag-dialog.add' | translate }}</button>
        </div>
    </div>
</div>

<div class="scrape-dialog dialog" (click)="scrapeDialogClick($event)" #scrapeDialog>
    <div class="window" [class.show]="showScrapeDialog">
        <div class="title">{{ 'scrape-dialog.title' | translate }}</div>
        <label>
            {{ 'scrape-dialog.url' | translate }}
            <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input" (keydown)="scrapeSearchKeyDown($event)">
                <input tuiTextfield [(ngModel)]="scraperUrl" [readOnly]="scraping">
            </tui-textfield>
        </label>
        <div class="button-wrapper">
            <tui-loader class="loader" [overlay]="true" [showLoader]="scraping">
                <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="scrape()">{{ 'scrape-dialog.scrape' | translate }}</button>
            </tui-loader>
        </div>
    </div>
</div>

<ng-template #typeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `series.type.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #tagContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `tags.${item.name?.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #contributorTypeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `contributor.${item.key.toLowerCase()}-unknown` | translate }}</span>
    </div>
</ng-template>

<ng-template #statusContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `tags.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #relationTypeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `series.relation-type.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #relationContent let-item>
    <div class="relation-item">
        <span class="relation-name">{{ item.name }}</span>
    </div>
</ng-template>

<ng-template #languageContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`./img/flags/${item.value}.png`">
        <span class="language-name">{{ `language.${item.value}` | translate }}</span>
    </div>
</ng-template>

<ng-template #seriesContent let-item>
    <div class="series-item">
        <span class="series-name">[{{ item.type }}] {{ item.name }}</span>
    </div>
</ng-template>

<ng-template #publisherContent let-item>
    <div class="publisher-item">
        <span class="publisher-name">{{ item.name }}</span>
    </div>
</ng-template>

<ng-template #contributorContent let-item>
    <div class="contributor-item">
        <span class="contributor-name">{{ item.name }}</span>
    </div>
</ng-template>

<ng-template #test let-item>
    
</ng-template>