<div class="theme" [class]="theme()"></div>

<div class="controls">
    <div class="control-row">
        <tui-textfield iconStart="@tui.search" class="search-input" tuiTextfieldSize="s">
            <input (keydown)="searchKeyDown($event)" [disabled]="loading" [placeholder]="'browse-series.search.placeholder' | translate" tuiTextfield [(ngModel)]="search" #searchEl/>
        </tui-textfield>
        <tui-select tuiTextfieldSize="s" [(ngModel)]="selectedOrder" (ngModelChange)="updateQueryParams()" class="order-select" [disabled]="loading" [valueContent]="orderContent" [tuiTextfieldLabelOutside]="true">
            <tui-data-list-wrapper *tuiDataList [itemContent]="orderContent" [items]="orders"></tui-data-list-wrapper>
        </tui-select>
        <tui-pagination [(index)]="currentPage" [length]="maxPages" (indexChange)="updateQueryParams()"/>
        <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="openAddDialog()"><ng-icon name="tablerPlus" class="icon"></ng-icon>{{ 'series.add' | translate }}</button>
    </div>
</div>

<table tuiTable [size]="tableSize" [style.width.%]="100" class="series-table" [class.loading]="loading">
    <thead>
        <tr>
            <th tuiTh [style.width.%]="54">{{ 'tables.series.name' | translate }}</th>
            <th tuiTh [style.width.%]="8">{{ 'tables.series.type' | translate }}</th>
            <th tuiTh [style.width.%]="30">{{ 'tables.series.slug' | translate }}</th>
            <th tuiTh [style.width.%]="8" [style.textAlign]="'center'">{{ 'tables.series.visibility' | translate }}</th>
        </tr>
    </thead>
    <tbody tuiTbody>
        <tr *ngFor="let item of series" [class.locked]="item.lockedBy?.id" tuiDropdownContext [tuiDropdown]="contextMenu" #dropdown="tuiDropdown">
            <ng-template #contextMenu>
                <tui-data-list role="menu" size="s" [tuiDropdownAlign]="'center'" tuiDataListDropdownManager class="context-menu">
                    <button *ngFor="let menuItem of menuItems" tuiOption type="button" (click)="menuItem.action(item); dropdown.toggle(false)">
                        <ng-icon [name]="menuItem.icon" [style.fontSize.px]="20" [style.transform]="'translateY(-2px)'" [style.marginRight.px]="5"></ng-icon>
                        <span>{{ `series.context.${menuItem.title}` | translate }}</span>
                    </button>
                </tui-data-list>
            </ng-template>
            <td tuiTd [style.maxWidth.%]="54">
                {{ item.name }}
            </td>
            <td tuiTd>
                {{ item.type }}
            </td>
            <td tuiTd>
                {{ item.slug }}
            </td>
            <td tuiTd class="td-icon">
                <ng-icon name="solarGlobal" class="icon public" *ngIf="item.public == 1"></ng-icon>
                <ng-icon name="tablerLock" class="icon private" *ngIf="item.public == 0"></ng-icon>
            </td>
            <div class="edit-placeholder" *ngIf="item.lockedBy?.id">
                <div class="name">{{ item.name }}</div>
                <div class="by">
                    <span>{{ 'series.currently-edited' | translate }}</span>
                    <div class="username">{{ item.lockedBy.username }}</div>
                    <img class="image" crossorigin="anonymous" [src]="`${cdn_base}/user/avatar/${item.lockedBy.id}/scaled`">
                </div>
            </div>
        </tr>
    </tbody>
</table>


<div class="add-dialog dialog" (click)="addDialogClick($event)" #addDialog>
    <div class="window" [class.show]="showAddDialog">
        <div class="title">{{ 'add-series-dialog.title' | translate }}</div>
        <label>
            {{ 'add-series-dialog.name' | translate }}
            <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                <input tuiTextfield [(ngModel)]="addSeriesItem.name">
            </tui-textfield>
        </label>
        <label>
            {{ 'add-series-dialog.type' | translate }}
            <tui-select tuiTextfieldSize="s" [(ngModel)]="addSeriesItem.type" [valueContent]="typeContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="typeContent" [items]="seriesTypes"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <div class="button-wrapper">
            <tui-loader class="loader" [overlay]="true" [showLoader]="addingSeries">
                <button size="s" tuiButton type="button" class="save" appearance="accent" (click)="addSeries()">{{ 'add-series-dialog.add' | translate }}</button>
            </tui-loader>
        </div>
    </div>
</div>

<ng-template #typeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `series.type.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #orderContent let-item>
    <div class="order-item">
        <span class="order-name">{{ `browse-series.order.${item.key}` | translate }}</span>
        <ng-icon class="icon" [name]="item.icon"></ng-icon>
    </div>
</ng-template>