@import '../../variables.less';

:host{
    width: 100%;
    height: @topbar-height;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    flex-shrink: 0;
    position: relative;

    .backdrop{
        position: fixed;
        z-index: 2;
        inset: 0;
        background-color: rgba(0,0,0,.2);
        pointer-events: none;
        opacity: 0;
        transition: opacity @transition-time ease;

        &.show{
            opacity: 1;
            pointer-events: all;
        }
    }

    .top-bar-header{
        width: @sidebar-expanded-width;
        height: @topbar-height;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 15px 0 10px;

        .logo-bg{
            background-color: white;
            border-radius: 12px;
            height: calc(@topbar-height - 20px);
            aspect-ratio: 1;
        }
    
        .logo{
            height: calc(@topbar-height - 20px);
            filter: var(--logo-filters);
        }
    
        .name{
            height: calc(@topbar-height - 30px);
            display:flex;
            justify-content: center;
            align-items: center;
            padding-left: 5px;
            transform: translateY(3px);
            filter: var(--logo-name-filters);
            transition: opacity @transition-time ease;
        }
    }

    .search-wrapper{
        position: relative;
        margin-left: auto;
        margin-right: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
        height: calc(@topbar-height - 25px);
        width: 200px;
        background-color: #eee;
        border-radius: 500px;
        padding: 0 10px;
        transition: width @transition-time ease;

        [tuiAppearance][data-appearance=textfield]{
            background-color: transparent !important;
            box-shadow: none !important;
        }

        [tuiAppearance][data-appearance=textfield]:focus-visible:not([data-focus=false]){
            outline: 0.125rem solid black !important;
        }

        &:focus-within{
            width: 350px;
            z-index: 10 !important;

            .search-results{
                opacity: 1;
                transform: translateY(0);
                transition: opacity @transition-time ease 0s, transform @transition-time ease 0s;
            }
        }

        tui-scrollbar{
            width: 100%;
        }

        .search-results{
            position: absolute;
            top: calc(100% + 10px);
            left: 0; right: 0;
            z-index: 9;
            width: 100%;
            height: fit-content;
            padding: 5px;
            background-color: #eee;
            outline: 1px solid #ccc;
            color: black !important;
            display:flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            box-shadow:  2px 0px 8px 2px rgba(0,0,0,.05);
            min-height: 40px;
            max-height: 250px;
            overflow-y: auto;
            border-radius: 6px;
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
            will-change: opacity, transform;
            transition: opacity @transition-time ease 0s, transform @transition-time ease 1s;

            ::ng-deep .t-loader{
                stroke: black !important;
            }

            &.empty{
                justify-content: center !important;
            }

            .search-results-list{
                width: 100%;
                height: fit-content;
                display:flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                .search-result{
                    width: 100%;
                    height: fit-content;
                    padding: 4px 10px;
                    border-radius: 6px;
                    transition: background-color @transition-time ease;
                    cursor: pointer;

                    &:hover{
                        background-color: #ddd;
                    }

                    .search-result-type{
                        color: #808080;
                    }
                }

                .search-result-divider{
                    width: 100%;
                    height: 0px;
                    border-bottom: 1px solid #ccc;
                    margin: 5px 0;
                }
            }
        }
    }

    .notifications{
        margin-right: 10px;
        
        .notification{
            color: black !important;
        }
    }

    .profile-wrapper{
        position: relative;

        .user-image{
            margin-right: 10px;
            height: calc(@topbar-height - 20px);
            border-radius: 500px;
            cursor: pointer;
        }

        .profile-popup{
            position: absolute;
            top: calc(100% + 17.5px);
            right: 10px;
            z-index: 10;
            width: 300px;
            background-color: white;
            border-radius: 6px;
            min-height: 100px;
            height: fit-content;
            opacity: 0;
            transform: scale(0.9);
            transition: opacity @transition-time ease, transform @transition-time ease;
            will-change: opacity, transform;
            pointer-events: none;
            padding: 10px;

            &.show{
                opacity: 1;
                transform: scale(1);
                pointer-events: all;
            }

            tui-select ::ng-deep [tuiWrapper][data-appearance=textfield]{
                background: #eee !important;
                box-shadow: none !important;
            }

            tui-select ::ng-deep [tuiWrapper][data-appearance=textfield]._focused._focused:after{
                color: black !important;
            }

            .language-select-label{
                font-size: 12px !important;
                display:block;
                margin-bottom: 5px;
            }

            .profile-header{
                width: 100%;
                height: fit-content;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                margin-bottom: 10px;

                .image{
                    width: 100px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                }

                .name{
                    color: black;
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .divider{
                width: 100%;
                height: 0px;
                border-bottom: 1px solid #ccc;
                margin: 10px 0;
            }

            .login-wrapper{
                min-height: 10px;
                border-radius: 6px;
                width: 100%;
                display:flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                button{
                    flex: 1;
                }

                .register{
                    --tui-background-accent-2: rgba(var(--accent-color),.2);
                    --tui-background-accent-2-hover: rgba(var(--light-accent),.4);
                    --tui-background-accent-2-pressed: rgba(var(--mid-accent),.4);
                    color: rgb(var(--mid-accent)) !important;
                }

                .logout{
                    --tui-background-accent-2: rgb(223, 117, 117);
                    --tui-background-accent-2-hover: rgb(244, 150, 150);
                    --tui-background-accent-2-pressed: rgb(197, 100, 100);
                }
            }
        }
    }
}

.logout-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: opacity @transition-time ease;

    &.show{
        opacity: 1;
        pointer-events: all;

        .window{
            transform: scale(1);
        }
    }

    .window{
        width: 500px;
        height: fit-content;
        min-height: 50px;
        padding: 20px;
        border-radius: 6px;
        background-color: white;
        transition: transform @transition-time ease;
        will-change: transform;
        transform: scale(0.9);

        .title{
            font-size: 18px;
            color: #505050;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .description{
            font-size: 14px;
            color: #505050;
            margin-bottom: 10px;
        }

        [tuiCheckbox][data-size=s]{
            --tui-background-accent-1: rgb(var(--accent-color));
            --tui-background-accent-1-hover: rgb(var(--accent-color));
            --tui-background-accent-1-pressed: rgb(var(--accent-color));
        }

        .button-wrapper{
            display:flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .cancel{
                --tui-background-accent-2: rgb(223, 117, 117);
                --tui-background-accent-2-hover: rgb(244, 150, 150);
                --tui-background-accent-2-pressed: rgb(197, 100, 100);
            }
        }
    }
}

.language-item{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7.5px;

    .language-image{
        height: 14px;
        border-radius: 4px;
    }

    .language-name{
        font-size: 12px !important;
    }
}