<div class="banner-wrapper">
    <div class="banner">
        <manga-cover *ngIf="series.volume?.id" [id]="series.volume.id" [nsfw]="series.volume.nsfw === 1" [nsfw18]="series.volume.nsfw18 === 1" fit="cover" [blur]="true" [aspectRatio]="series.volume.aspect_ratio"></manga-cover>
        <div class="banner-overlay"></div>
    </div>
    <div class="not-found" *ngIf="show404">
        <ng-icon name="heroDocumentMagnifyingGlass" class="icon" [style.fontSize.px]="80"></ng-icon>
        <div class="text">{{ 'series.not-found' | translate }}</div>
    </div>
    <div class="content" #content>
        <div class="cover-wrapper">
            <manga-cover *ngIf="series.volume?.id" [hasTransparentBg]="true" [res]="'high'" [id]="series.volume.id" [nsfw]="series.volume.nsfw === 1" [nsfw18]="series.volume.nsfw18 === 1" [aspectRatio]="series.volume.aspect_ratio"></manga-cover>
        </div>
        <div class="detail-wrapper">
            <div class="top" *ngIf="series?.id">
                <div class="title" #seriesTitle>
                    {{series.name}}
                </div>
                <div class="alias" #seriesAlias *ngIf="series.alias">
                    {{series.alias}}
                </div>
                <div class="copyright-wrapper">
                    <div class="copyright"><ng-icon class="icon" name="faCopyright" [style.fontSize.px]="16"/>{{series?.volume?.copyright}}</div>
                    <button appearance="flat" size="m" tuiIconButton type="button" class="report-btn" (click)="openReportDialog()" [style.border-radius.%]="100" [tuiHint]="'report-dialog.title' | translate" tuiHintAppearance="dark" tuiHintDirection="bottom">
                        <ng-icon class="icon" name="faFlag" [style.fontSize.px]="16"></ng-icon>
                    </button>
                </div>
            </div>
            <div class="bottom" *ngIf="series?.id">
                <div class="actions">
                    <button appearance="accent" size="m" tuiButton (click)="openListDialog()" type="button" class="list-btn">
                        <ng-icon class="icon" name="faSolidPlus" [style.fontSize.px]="20"></ng-icon>{{ 'series.add-to-list' | translate }}
                    </button>
                    <button appearance="accent" size="m" tuiButton (click)="openReadingDialog()" type="button" [tuiHint]="'series.reading-history' | translate" tuiHintAppearance="dark" tuiHintDirection="bottom" class="reading-history-btn">
                        <ng-icon class="icon" name="faBookmark" [style.fontSize.px]="20"></ng-icon>
                    </button>
                    <button appearance="accent" size="m" tuiButton (click)="openRatingDialog()" type="button" [tuiHint]="'series.rating' | translate" tuiHintAppearance="dark" tuiHintDirection="bottom" class="rating-btn">
                        <ng-icon class="icon" name="faStar" [style.fontSize.px]="20"></ng-icon>
                        <span>{{ roundRating() }}
                            <span *ngIf="series?.rating_count > 0">&nbsp;({{ series?.rating_count }})</span>
                        </span>
                    </button>
                </div>
                <div class="tag-wrapper" tuiFade>
                    <div *ngFor="let tag of series?.contentTypeTags" class="tag type" (click)="openTagDialog(tag)">{{ `tags.${tag.name.toLowerCase()}` | translate }}</div>
                    <div *ngFor="let tag of series?.contentRatingTags" class="tag content-rating" (click)="openTagDialog(tag)">{{ `tags.${tag.name.toLowerCase()}` | translate }}</div>
                    <div *ngFor="let tag of series?.contentWarningTags" class="tag content-warning" (click)="openTagDialog(tag)">{{ `tags.${tag.name.toLowerCase()}` | translate }}</div>
                    <div *ngFor="let tag of series?.otherTags" class="tag" (click)="openTagDialog(tag)">{{ `tags.${tag.name.toLowerCase()}` | translate }}</div>
                </div>
            </div>
        </div>
        <div class="description-wrapper" [class.hide]="checkingDescOverflow">
            <div class="header">
                <span>{{ 'series.description' | translate }}</span>
            </div>
            <div class="description" *ngIf="series.description" tuiFade="vertical" [class.hide-description]="checkingDescOverflow" #desc [innerHTML]="series?.description?.description"></div>
            <div class="description" *ngIf="!series.description" #desc>
                <div class="no-desc">
                    <div class="desc">{{ 'series.no-description.desc' | translate }}</div>
                </div>
            </div>
            <div class="show-more-wrapper" [class.hide-description]="checkingDescOverflow" [class.show]="descOverflowing">
                <div class="show-more-btn" (click)="toggleDesc()">
                    <ng-icon name="solarDoubleAltArrowDown" class="icon" [style.fontSize.px]="16" *ngIf="!expandDesc"></ng-icon>
                    <ng-icon name="solarDoubleAltArrowUp" class="icon" [style.fontSize.px]="16" *ngIf="expandDesc"></ng-icon>
                    {{ (expandDesc ? 'series.show-less' : 'series.show-more') | translate }}
                    <ng-icon name="solarDoubleAltArrowDown" class="icon" [style.fontSize.px]="16" *ngIf="!expandDesc"></ng-icon>
                    <ng-icon name="solarDoubleAltArrowUp" class="icon" [style.fontSize.px]="16" *ngIf="expandDesc"></ng-icon>
                </div>
            </div>
        </div>
        <div class="description-select" [class.overflowing]="descOverflowing" [class.hide]="checkingDescOverflow">
            <tui-select class="edition-select" tuiTextfieldSize="s" [(ngModel)]="selectedEdition" tuiTextfieldSize="s" (ngModelChange)="editionSelected($event)" [valueContent]="editionContent">
                <tui-data-list-wrapper *tuiDataList [itemContent]="editionContent" [items]="editions"></tui-data-list-wrapper>
            </tui-select>
            <div class="source-wrapper" *ngIf="series?.description?.source">{{ 'series.source' | translate }}:&nbsp;<span class="source" (click)="openLinkDialog(series?.description?.source.split('|')[1])">{{ series?.description?.source.split('|')[0] }}</span></div>
            <tui-select *ngIf="series?.description" tuiTextfieldSize="s" [(ngModel)]="selectedDescLang" tuiTextfieldSize="s" (ngModelChange)="descSelected($event)" [valueContent]="languageContent">
                <tui-data-list-wrapper *tuiDataList [itemContent]="languageContent" [items]="availableDescLangs"></tui-data-list-wrapper>
            </tui-select>
        </div>
        <div class="tab-controls" [class.hide]="checkingDescOverflow">
            <tui-segmented class="tabs" [(activeItemIndex)]="tabIndex" [size]="'s'" (activeItemIndexChange)="tabSelected()">
                <button type="button" class="tab-item">
                    {{ 'series.volumes' | translate }}&nbsp;<tui-badge [size]="'s'">{{ tabsLoading ? '...' : volume_count }}</tui-badge>
                </button>
                <button type="button" class="tab-item" [disabled]="special_count === 0">
                    {{ 'series.special-editions' | translate }}&nbsp;<tui-badge [size]="'s'">{{ tabsLoading ? '...' : special_count }}</tui-badge>
                </button>
                <button type="button" class="tab-item" [disabled]="relation_count === 0">
                    {{ 'series.relations' | translate }}&nbsp;<tui-badge [size]="'s'">{{ tabsLoading ? '...' : relation_count }}</tui-badge>
                </button>
            </tui-segmented>
            <tui-pagination [(index)]="page" [length]="max" (indexChange)="pageUpdate()" *ngIf="tabIndex === 0"/>
            <tui-pagination [(index)]="special_page" [length]="special_max" (indexChange)="specialPageUpdate()" *ngIf="tabIndex === 1"/>
            <tui-segmented class="view-mode" [(activeItemIndex)]="viewIndex" (activeItemIndexChange)="viewChanged($event)" *ngIf="tabIndex === 2">
                <button type="button" class="view-item">
                    <ng-icon name="tablerList"/>
                </button>
                <button type="button" class="view-item">
                    <ng-icon name="tablerLayoutColumns"/>
                </button>
                <button type="button" class="view-item">
                    <ng-icon name="tablerLayoutGrid"/>
                </button>
            </tui-segmented>
        </div>
        <tui-elastic-container [class.hide]="checkingDescOverflow">
            <div class="volume-wrapper" *ngIf="tabIndex === 0">
                <manga-volume (click)="volumeClick(vol)" [volume]="vol" [class]="theme()" *ngFor="let vol of volumes"></manga-volume>
            </div>
            <div class="volume-wrapper" *ngIf="tabIndex === 1">
                <manga-volume (click)="volumeClick(vol)" [volume]="vol" [class]="theme()" *ngFor="let vol of special_editions"></manga-volume>
            </div>
            <div class="series-wrapper" *ngIf="tabIndex === 2 && viewIndex === 0">
                <ng-container *ngFor="let key of series.relation_keys">
                    <div class="series-section-title">{{ `series.relation.${key.toLowerCase()}` | translate }}</div>
                    <div class="series-section list">
                        <manga-series-list class="series" [class]="theme()" [series]="ser" *ngFor="let ser of series.relations[key]"></manga-series-list>
                    </div>
                </ng-container>
            </div>
            <div class="series-wrapper" *ngIf="tabIndex === 2 && viewIndex === 1">
                <ng-container *ngFor="let key of series.relation_keys">
                    <div class="series-section-title">{{ `series.relation.${key.toLowerCase()}` | translate }}</div>
                    <div class="series-section column">
                        <manga-series-column (click)="seriesClick(ser)" class="series" [class]="theme()" [series]="ser" *ngFor="let ser of series.relations[key]"></manga-series-column>
                    </div>
                </ng-container>
            </div>
            <div class="series-wrapper" *ngIf="tabIndex === 2 && viewIndex === 2">
                <ng-container *ngFor="let key of series.relation_keys">
                    <div class="series-section-title">{{ `series.relation.${key.toLowerCase()}` | translate }}</div>
                    <div class="series-section grid">
                        <manga-series-grid class="series" [class]="theme()" [series]="ser" *ngFor="let ser of series.relations[key]"></manga-series-grid>
                    </div>
                </ng-container>
            </div>
        </tui-elastic-container>
        <div class="section-title" [class.hide]="checkingDescOverflow">{{ 'series.publishers' | translate }}</div>
        <table tuiTable [size]="'s'" [style.width.%]="100" class="publisher-table" [class.hide]="checkingDescOverflow">
            <thead>
                <tr>
                    <th tuiTh [style.width.px]="25"></th>
                    <th tuiTh></th>
                    <th tuiTh [style.textAlign]="'center'">Chapter</th>
                    <th tuiTh [style.textAlign]="'center'">Volumes</th>
                    <th tuiTh [style.textAlign]="'center'">Status</th>
                </tr>
            </thead>
            <tbody tuiTbody>
                <ng-container *ngFor="let publisher of series.publishers">
                    <tr class="publisher" [class.origin]="publisher.origin === 1" [class.border]="publisher.editions?.length === 0 && publisher.origin === 0" (click)="publisherClick(publisher)">
                        <td tuiTd>
                            <img [style.height.px]="15" [src]="`/img/flags/${langToLoc(publisher.language)}.png`">
                        </td>
                        <td tuiTd class="publisher-name">
                            {{ publisher.name }}
                            <span class="range">{{ `${publisher.start || '?'} - ${publisher.end || '?'}` }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'" class="chapter">
                            <span class="badge">{{ publisher.chapter || '?' }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'" class="volumes">
                            <span class="badge">{{ publisher.volumes || '?' }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'">
                            {{ `tags.${publisher.status.toLowerCase()}` | translate }}
                        </td>
                    </tr>
                    <tr *ngFor="let edition of publisher.editions" class="edition" (click)="publisherClick(publisher)">
                        <td tuiTd>
                            <ng-icon name="heroArrowTurnDownRight" [style.fontSize.px]="20" class="icon"></ng-icon>
                        </td>
                        <td tuiTd class="publisher-name">
                            {{ edition.name }}
                            <span class="range">{{ `${edition.start || '?'} - ${edition.end || '?'}` }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'" class="chapter">
                            <span class="badge">{{ edition.chapter || '?' }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'" class="volumes">
                            <span class="badge">{{ edition.volumes || '?' }}</span>
                        </td>
                        <td tuiTd [style.textAlign]="'center'">
                            {{ `tags.${edition.status.toLowerCase()}` | translate }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="section-title" *ngIf="series.contributors?.length > 0" [class.hide]="checkingDescOverflow">{{ 'series.contributors' | translate }}</div>
        <tui-elastic-container [class.hide]="checkingDescOverflow">
            <div class="contributor-wrapper" *ngIf="series.contributors?.length > 0 && !hasManyContributors" [class.hide]="checkingDescOverflow">
                <div class="contributor" *ngFor="let contributor of series.contributors" (click)="contributorClick(contributor)">
                    <img class="image" crossorigin="anonymous" loading="lazy" [src]="`${cdn_base}/contributor/image/${contributor.id}/scaled`">
                    <div class="details">
                        <div class="name">{{ contributor.last_name?.toUpperCase() }} {{contributor.first_name}}</div>
                        <div class="type">{{ `contributor.${contributor.type.toLowerCase()}-${contributor.gender}` | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="contributor-wrapper" *ngIf="series.contributors?.length > 0 && hasManyContributors" [class.hide]="checkingDescOverflow">
                <div class="contributor" *ngFor="let contributor of (showMoreContributors ? series.contributors : series.contributors_collapsed)" (click)="contributorClick(contributor)">
                    <img class="image" crossorigin="anonymous" loading="lazy" [src]="`${cdn_base}/contributor/image/${contributor.id}/scaled`">
                    <div class="details">
                        <div class="name">{{ contributor.last_name?.toUpperCase() }} {{contributor.first_name}}</div>
                        <div class="type">{{ `contributor.${contributor.type.toLowerCase()}-${contributor.gender}` | translate }}</div>
                    </div>
                </div>
                <div class="contributor toggle" (click)="toggleContributors()">
                    {{ (showMoreContributors ? 'series.show-less-contributors' : 'series.show-more-contributors') | translate }} ({{ series.contributors.length - series.contributors_collapsed.length }})
                </div>
            </div>
        </tui-elastic-container>
        <div class="section-title" *ngIf="series.groupedAliases?.length > 0" [class.hide]="checkingDescOverflow">{{ 'series.aliases' | translate }}</div>
        <div class="alias-wrapper" *ngIf="series.groupedAliases?.length > 0" [class.hide]="checkingDescOverflow">
            <div class="alias-item" *ngFor="let alias of series?.groupedAliases">
                <div class="lang" *ngFor="let lang of alias.languages"  (click)="searchAmazon(alias, lang)"><img [src]="`/img/flags/${langToLoc(lang.name)}.png`"></div>
                {{ alias.title }}
            </div>
        </div>
        <div class="placeholder" style="height: 20px; width: 100%; display:block;"></div>
    </div>
</div>

<link-warn-dialog [link]="linkDialogURL" #linkDialog></link-warn-dialog>
<tag-dialog [tag]="tagDialogTag" #tagDialog></tag-dialog>
<series-rating-dialog [series]="series" (triggerUpdate)="updateRatings()" #ratingDialog></series-rating-dialog>
<reading-status-dialog [series]="series" #readingDialog></reading-status-dialog>
<series-list-dialog [series]="series" #listDialog></series-list-dialog>
<div class="report-dialog" (click)="reportDialogClick($event)" #reportDialog>
    <div class="window" [class.show]="showReportDialog">
        <div class="title">{{ 'report-dialog.title' | translate }}</div>
        <label>
            <span class="select-label">
                {{ "report-dialog.type" | translate }}
            </span>
            <tui-select tuiTextfieldSize="s" [(ngModel)]="selectedReportType" [valueContent]="reportTypeContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="reportTypeContent" [items]="reportTypes"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <label [style.marginTop.px]="10" [style.display]="'block'">
            <span class="select-label">
                {{ "series.description" | translate }}
            </span>
            <tui-textarea class="report-description" [tuiTextfieldLabelOutside]="true" [(ngModel)]="reportDescription"/>
        </label>
        <div class="button-wrapper">
            <tui-loader class="loader" [overlay]="true" [showLoader]="reportsLoading">
                <button size="s" tuiButton type="button" (click)="openReportViewDialog()" class="confirm" appearance="accent" [disabled]="reports.length === 0">{{ 'report-dialog.show-reports' | translate }}</button>
            </tui-loader>
            <button size="s" tuiButton type="button" class="confirm" appearance="accent" (click)="addReport()">{{ 'report-dialog.report' | translate }}</button>
        </div>
    </div>
</div>
<div class="report-dialog" (click)="reportViewDialogClick($event)" #reportViewDialog>
    <div class="window" [class.show]="showReportViewDialog">
        <div class="title">{{ 'report-dialog.view-title' | translate }}</div>
        <tui-accordion class="container">
            <tui-accordion-item [size]="'s'" *ngFor="let report of reports">
                {{ `report.type.${report.type}` | translate}}&nbsp;<div class="time" [style.marginLeft]="'auto'">{{ agoTime(report.timestamp) }}...</div>
                <ng-template tuiAccordionItemContent>
                    <div class="description">{{ report.description }}</div>
                    <div class="status">
                        <div class="indicator" [class]="report.status"></div>
                        <div class="text">{{ `report.status.${report.status}` | translate }}</div>
                        <div class="by" *ngIf="report.reviewer" [tuiHint]="report.reviewer.username" [tuiHintAppearance]="'dark'" [tuiHintDirection]="'bottom'">
                            <img class="image" crossorigin="anonymous" [src]="`${cdn_base}/user/avatar/${report.reviewed_by}/scaled`">
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </div>
</div>

<ng-template #languageContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`/img/flags/${item.value}.png`">
        <span class="language-name">{{ `language.${item.value}` | translate }}</span>
    </div>
</ng-template>

<ng-template #reportTypeContent let-item>
    <div class="language-item">
        <span class="language-name">{{ `report.type.${item.key}` | translate }}</span>
    </div>
</ng-template>

<ng-template #editionContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`/img/flags/${langToLoc(item.language)}.png`">
        <span class="language-name" *ngIf="item.id">{{ `language.${langToLoc(item.language)}` | translate }}&nbsp;-&nbsp;{{ item.name }}</span>
        <span class="language-name" *ngIf="!item.id">{{ `language.${langToLoc(item.language)}` | translate }}</span>
    </div>
</ng-template>