<div class="theme" [class]="theme()"></div>

<div class="window" [class.show]="show" #window>
    <div class="title" *ngIf="tag?.id">{{ `tags.category.${tag?.type}` | translate }}: <div class="tag">{{ `tags.${tag.name.toLowerCase()}` | translate }}</div></div>
    <tui-elastic-container class="description" *ngIf="tag?.id">{{ tagDataLoading ? '' : (`tags.desc.${tag.name.toLowerCase()}` | translate) }}</tui-elastic-container>
    <div [style.height.px]="0" *ngIf="tagDataLoading"><tui-loader class="loader" size="l" [showLoader]="tagDataLoading"></tui-loader></div>
    <div class="button-wrapper">
        <div class="count" [style.opacity]="tagDataLoading ? 0 : 1">{{ `tags.series-count` | pluralTranslate:seriesCount | translate:{count:seriesCount} }}</div>
        <button size="s" tuiButton type="button" class="confirm" appearance="accent" (click)="browseTag()">{{ 'tag-dialog.browse' | translate }}</button>
    </div>
</div>