<div class="theme" [class]="theme()"></div>

<div class="controls">
    <div class="control-row">
        <tui-textfield iconStart="@tui.search" class="search-input" tuiTextfieldSize="s">
            <input (keydown)="searchKeyDown($event)" [disabled]="loading" [placeholder]="'browse-series.search.placeholder' | translate" tuiTextfield [(ngModel)]="search" #searchEl/>
        </tui-textfield>
        <tui-select tuiTextfieldSize="s" [(ngModel)]="selectedOrder" (ngModelChange)="updateQueryParams()" class="order-select" [disabled]="loading" [valueContent]="orderContent" [tuiTextfieldLabelOutside]="true">
            <tui-data-list-wrapper *tuiDataList [itemContent]="orderContent" [items]="orders"></tui-data-list-wrapper>
        </tui-select>
        <tui-pagination [(index)]="currentPage" [length]="maxPages" (indexChange)="updateQueryParams()"/>
    </div>
</div>

<table tuiTable [size]="tableSize" [style.width.%]="100" class="users-table" [class.loading]="loading">
    <thead>
        <tr>
            <th tuiTh [style.width.%]="10">{{ 'tables.users.profile-image' | translate }}</th>
            <th tuiTh [style.width.%]="25">{{ 'tables.users.name' | translate }}</th>
            <th tuiTh [style.width.%]="25">{{ 'tables.users.slug' | translate }}</th>
            <th tuiTh [style.width.%]="15">{{ 'tables.users.registered' | translate }}</th>
            <th tuiTh [style.width.%]="15">{{ 'tables.users.role' | translate }}</th>
            <th tuiTh [style.width.%]="10" [style.textAlign]="'center'">{{ 'tables.users.age_verified' | translate }}</th>
        </tr>
    </thead>
    <tbody tuiTbody>
        <ng-container *ngFor="let item of users">
            <tr tuiDropdownContext [tuiDropdown]="contextMenu" #dropdown="tuiDropdown" [class.disabled]="currentUser().id == item.id">
                <ng-template #contextMenu>
                    <tui-data-list role="menu" size="s" [tuiDropdownAlign]="'center'" tuiDataListDropdownManager class="context-menu">
                        <button *ngFor="let menuItem of userMenuItems" tuiOption type="button" (click)="menuItem.action(item); dropdown.toggle(false)">
                            <ng-icon [name]="menuItem.icon" [style.fontSize.px]="20" [style.transform]="'translateY(-2px)'" [style.marginRight.px]="5"></ng-icon>
                            <span>{{ `user.context.${menuItem.title}` | translate }}</span>
                        </button>
                    </tui-data-list>
                </ng-template>
                <td tuiTd [style.maxWidth.%]="10">
                    <div class="image-wrapper">
                        <img class="image" *ngIf="item.profile_image?.trim() !== ''" crossorigin="anonymous" [src]="item.profile_image?.includes('http') ? item.profile_image : `${cdn_base}/user/avatar/${item.id}/scaled`">
                        <img class="image" *ngIf="item.profile_image?.trim() === ''" crossorigin="anonymous" src="./img/default/profile.jpg">
                    </div>
                </td>
                <td tuiTd [style.maxWidth.%]="25">
                    {{ item.username }}
                </td>
                <td tuiTd [style.maxWidth.%]="25">
                    {{ item.slug }}
                </td>
                <td tuiTd [style.maxWidth.%]="15">
                    {{ agoTime(item.registered) }}
                </td>
                <td tuiTd [style.maxWidth.%]="15">
                    {{ item.role }}
                </td>
                <td tuiTd [style.maxWidth.%]="10" [style.textAlign]="'center'">
                    <ng-icon *ngIf="item.age_verified" class="icon checked" name="tablerCheck"></ng-icon>
                    <ng-icon *ngIf="!item.age_verified" class="icon" name="tablerX"></ng-icon>
                </td>
                <div class="edit-placeholder" *ngIf="item.lockedBy?.id">
                    <div class="name">{{ item.username }}</div>
                    <div class="by">
                        <span>{{ 'series.currently-edited' | translate }}</span>
                        <div class="username">{{ item.lockedBy.username }}</div>
                        <img class="image" crossorigin="anonymous" [src]="`${cdn_base}/user/avatar/${item.lockedBy.id}/scaled`">
                    </div>
                </div>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #orderContent let-item>
    <div class="order-item">
        <span class="order-name">{{ `browse-series.order.${item.key}` | translate }}</span>
        <ng-icon class="icon" [name]="item.icon"></ng-icon>
    </div>
</ng-template>

<ng-template #languageContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`./img/flags/${item.value}.png`">
        <span class="language-name">{{ `language.${item.value}` | translate }}</span>
    </div>
</ng-template>