<img *ngIf="!needsNSFWPlaceholder() && !needsNSFW18Placeholder() && id > 0" class="image" [style.aspectRatio]="fit !== 'cover' && aspectRatio ? aspectRatio : undefined" [tuiSkeleton]="loading" [class.blur]="blur" [class.cover]="fit === 'cover'" tuiLoading="lazy" [src]="src ? `${cdn_base}/${src}/${res}?hash=${imageHash}` : `${cdn_base}/volumes/cover/${id}/${coverType}/${res}?hash=${imageHash}`" (load)="loading = false">
<div class="placeholder" [class.bg]="hasTransparentBg" *ngIf="needsNSFWPlaceholder() && !blur">
    <ng-icon class="icon" name="tablerRating16Plus"></ng-icon>
    <div class="hint">{{ 'volume.nsfw-hint' | translate }}</div>
</div>
<div class="placeholder" [class.bg]="hasTransparentBg" *ngIf="needsNSFW18Placeholder() && !blur">
    <ng-icon class="icon" name="tablerRating18Plus"></ng-icon>
    <div class="hint">{{ 'volume.nsfw18-hint' | translate }}</div>
</div>
<button appearance="accent" size="m" tuiIconButton type="button" class="gallery-btn" *ngIf="showGalleryBtn && !(needsNSFWPlaceholder() || needsNSFW18Placeholder())" (click)="toggleGallery()">
    <ng-icon class="icon" name="lucideFullscreen" [style.fontSize.px]="20"></ng-icon>
</button>