:host{
    display:block;
    width: fit-content;

    .cover{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .blur{
        filter: blur(10px);
    }

    img{
        height: 100%;
        border-radius: 4px;
    }
}