<div class="banner-wrapper">
    <div class="banner">
        <manga-cover *ngIf="volume?.id" [id]="volume.id" [nsfw]="volume.nsfw === 1" [nsfw18]="volume.nsfw18 === 1" fit="cover" [blur]="true" [aspectRatio]="volume.aspect_ratio"></manga-cover>
        <div class="banner-overlay"></div>
    </div>
    <div class="not-found" *ngIf="show404">
        <ng-icon name="heroDocumentMagnifyingGlass" class="icon" [style.fontSize.px]="80"></ng-icon>
        <div class="text">{{ 'contributor.not-found' | translate }}</div>
    </div>
    <div class="content" #content>
        <div class="columns">
            <div class="column">
                <div class="cover-wrapper" [class.non-3d]="volume.three_d === 0" *ngIf="!show404">
                    <manga-cover [showGalleryBtn]="true" (openGallery)="galleryDialog.showDialog()" *ngIf="volume?.id" [hasTransparentBg]="true" [res]="'high'" [id]="volume.id" [nsfw]="volume.nsfw === 1" [nsfw18]="volume.nsfw18 === 1" [aspectRatio]="volume.aspect_ratio"></manga-cover>
                </div>
                <div class="info">
                    <div class="header">
                        {{ `volume.info-header` | translate }}
                    </div>
                    <div class="item">
                        <div class="label">{{ 'language.label' | translate }}</div>
                        <div class="value">{{ `language.${langToLoc(volume?.language)}` | translate }}</div>
                    </div>
                    <div class="item">
                        <div class="label">{{ 'volume.pages' | translate }}</div>
                        <div class="value">{{volume?.pages || '-'}}</div>
                    </div>
                    <div class="item">
                        <div class="label">{{ 'volume.binding.label' | translate }}</div>
                        <div class="value">{{volume?.type ? (`volume.binding.${volume?.type?.toLowerCase()}` | translate) : '-'}}</div>
                    </div>
                    <div class="item" *ngIf="volume?.isbn10">
                        <div class="label">ISBN-10</div>
                        <div class="value">{{volume?.isbn10}}</div>
                    </div>
                    <div class="item">
                        <div class="label">ISBN-13</div>
                        <div class="value">{{volume?.isbn13 || '-'}}</div>
                    </div>
                    <div class="item">
                        <div class="label">{{ 'volume.dimensions' | translate }}</div>
                        <div class="value tooltip" [tuiHintAppearance]="'dark'" [tuiHintDirection]="'bottom'" [tuiHint]="formatMeasures(true)">{{volume?.measures_text || '-'}}</div>
                    </div>
                    <div class="item">
                        <div class="label">{{ 'volume.release_date' | translate }}</div>
                        <div class="value">{{releaseDate(volume?.release_date)}}</div>
                    </div>
                    <div class="item">
                        <div class="label">{{ 'volume.rating' | translate }}</div>
                        <div class="value">{{volume?.rating || '-'}}+</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="detail-wrapper">
                    <div class="top" *ngIf="volume?.id">
                        <div class="title" #volumeTitle>
                            {{ volume.name }}
                        </div>
                        <div class="edition" *ngIf="volume && ((volume.edition_name || volume.special_name))">
                            <span class="name" *ngIf="(volume.edition_name && volume.special_name)">{{ volume.edition_name }} • {{ volume.special_name }}</span>
                            <span class="name" *ngIf="(volume.edition_name && !volume.special_name)">{{ volume.edition_name }}</span>
                            <span class="name" *ngIf="(!volume.edition_name && volume.special_name)">{{ volume.special_name }}</span>
                        </div>
                        <div class="copyright-wrapper">
                            <div class="copyright"><ng-icon class="icon" name="faCopyright" [style.fontSize.px]="16"/>{{volume?.copyright}}</div>
                            <button appearance="flat" size="m" tuiIconButton type="button" class="report-btn" (click)="openReportDialog()" [style.border-radius.%]="100" [tuiHint]="'report-dialog.title' | translate" tuiHintAppearance="dark" tuiHintDirection="bottom">
                                <ng-icon class="icon" name="faFlag" [style.fontSize.px]="16"></ng-icon>
                            </button>
                        </div>
                    </div>
                    <div class="bottom" *ngIf="volume?.id">
                        <div class="actions">
                            <button appearance="accent" [disabled]="togglingCollected" (click)="toggleCollectionState()" size="m" tuiButton type="button" class="collection-btn" [class.collected]="volume.collected">
                                <ng-icon class="icon" name="faSolidMinus" [style.fontSize.px]="20" *ngIf="volume.collected"></ng-icon>
                                <ng-icon class="icon" name="faSolidPlus" [style.fontSize.px]="20" *ngIf="!volume.collected"></ng-icon>
                            </button>
                            <button appearance="accent" size="m" tuiButton type="button" class="lists-btn" [tuiHint]="'volume.lists' | translate" [tuiHintDirection]="'bottom'" [tuiHintAppearance]="'error'">
                                <ng-icon class="icon" name="faBookmark" [style.fontSize.px]="20"></ng-icon>
                            </button>
                            <button appearance="accent" (click)="open3D()" size="m" tuiButton type="button" class="three-d-btn" [tuiHint]="'volume.three-d' | translate" [tuiHintDirection]="'bottom'" [tuiHintAppearance]="'error'" *ngIf="volume.three_d === 1">
                                <ng-icon class="icon" name="tablerChartScatter3d" [style.fontSize.px]="20"></ng-icon>
                            </button>
                            <div class="pagination">
                                <button appearance="accent" size="s" tuiButton type="button" class="prev-btn small" [disabled]="!volume.prev" (click)="visitVolume(volume.prev)">
                                    <ng-icon class="icon" name="solarAltArrowLeftBold" [style.fontSize.px]="16"></ng-icon>
                                </button>
                                <button appearance="accent" (click)="openJumpDialog()" [disabled]="volume?.count === 1" size="s" [style.fontWeight]="'bold'" tuiButton type="button" class="prev-btn small">
                                    {{ volume?.index ? volume?.index + 1 : 1 }}&nbsp;{{ 'volume.of' | translate }}&nbsp;{{ volume?.count }}
                                </button>
                                <button appearance="accent" size="s" tuiButton type="button" class="next-btn small" [disabled]="!volume.next" (click)="visitVolume(volume.next)">
                                    <ng-icon class="icon" name="solarAltArrowRightBold" [style.fontSize.px]="16"></ng-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description-wrapper" [class.hide]="checkingDescOverflow">
                    <div class="header">
                        <span>{{ 'series.description' | translate }}</span>
                    </div>
                    <div class="description" *ngIf="volume.description" tuiFade="vertical" [class.hide-description]="checkingDescOverflow" #desc [innerHTML]="volume?.description"></div>
                    <div class="description" *ngIf="!volume.description" #desc>
                        <div class="no-desc">
                            <div class="title">{{ 'volume.no-description.title' | translate }}</div>
                            <div class="desc">{{ 'volume.no-description.desc' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="section-title" [style.marginTop.px]="20" *ngIf="volume.links?.length > 0">
                    <span>{{ 'volume.links' | translate }}</span>
                </div>
                <div class="link-wrapper" *ngIf="volume.links?.length > 0">
                    <div class="item" *ngFor="let link of volume.links" (click)="openLinkDialog(link.url)">
                        <img [src]="link.src">
                        <span>{{ link.name }}</span>
                    </div>
                </div>
                <div class="section-title" [style.marginTop.px]="20" *ngIf="volume.extrasObj?.items?.length > 0">
                    <span>{{ 'volume.extras' | translate }}</span>
                </div>
                <div class="extras-wrapper" *ngIf="volume.extrasObj?.items?.length > 0">
                    <div class="extra-item" [class.images]="extra.images?.length > 0" *ngFor="let extra of volume.extrasObj?.items">
                        <div class="title" [innerHTML]="extra.html"></div>
                        <button appearance="accent" size="xs" tuiButton type="button" class="img-btn small" *ngFor="let image of extra.images; index as i" (click)="openGalleryImage(i)">
                            <ng-icon class="icon" name="lucideImage" [style.fontSize.px]="16"></ng-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="placeholder" style="width: 100%; height: 30px;"></div>
    </div>
</div>

<link-warn-dialog [link]="linkDialogURL" #linkDialog></link-warn-dialog>
<volume-jump-dialog [volume]="volume" (jumpTrigger)="jumpTo($event)" #jumpDialog></volume-jump-dialog>
<volume-gallery-dialog [volume]="volume" #galleryDialog></volume-gallery-dialog>

<div class="report-dialog" (click)="reportDialogClick($event)" #reportDialog>
    <div class="window" [class.show]="showReportDialog">
        <div class="title">{{ 'report-dialog.title' | translate }}</div>
        <label>
            <span class="select-label">
                {{ "report-dialog.type" | translate }}
            </span>
            <tui-select tuiTextfieldSize="s" [(ngModel)]="selectedReportType" [valueContent]="reportTypeContent" [tuiTextfieldLabelOutside]="true">
                <tui-data-list-wrapper *tuiDataList [itemContent]="reportTypeContent" [items]="reportTypes"></tui-data-list-wrapper>
            </tui-select>
        </label>
        <label [style.marginTop.px]="10" [style.display]="'block'">
            <span class="select-label">
                {{ "series.description" | translate }}
            </span>
            <tui-textarea class="report-description" [tuiTextfieldLabelOutside]="true" [(ngModel)]="reportDescription"/>
        </label>
        <div class="button-wrapper">
            <tui-loader class="loader" [overlay]="true" [showLoader]="reportsLoading">
                <button size="s" tuiButton type="button" (click)="openReportViewDialog()" class="confirm" appearance="accent" [disabled]="reports.length === 0">{{ 'report-dialog.show-reports' | translate }}</button>
            </tui-loader>
            <button size="s" tuiButton type="button" class="confirm" appearance="accent" (click)="addReport()">{{ 'report-dialog.report' | translate }}</button>
        </div>
    </div>
</div>
<div class="report-dialog" (click)="reportViewDialogClick($event)" #reportViewDialog>
    <div class="window" [class.show]="showReportViewDialog">
        <div class="title">{{ 'report-dialog.view-title' | translate }}</div>
        <tui-accordion class="container">
            <tui-accordion-item [size]="'s'" *ngFor="let report of reports">
                {{ `report.type.${report.type}` | translate}}&nbsp;<div class="time" [style.marginLeft]="'auto'">{{ agoTime(report.timestamp) }}...</div>
                <ng-template tuiAccordionItemContent>
                    <div class="description">{{ report.description }}</div>
                    <div class="status">
                        <div class="indicator" [class]="report.status"></div>
                        <div class="text">{{ `report.status.${report.status}` | translate }}</div>
                        <div class="by" *ngIf="report.reviewer" [tuiHint]="report.reviewer.username" [tuiHintAppearance]="'dark'" [tuiHintDirection]="'bottom'">
                            <img class="image" crossorigin="anonymous" [src]="`${cdn_base}/user/avatar/${report.reviewed_by}/scaled`">
                        </div>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </div>
</div>

<ng-template #languageContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`/img/flags/${item.value}.png`">
        <span class="language-name">{{ `language.${item.value}` | translate }}</span>
    </div>
</ng-template>

<ng-template #orderContent let-item>
    <div class="order-item">
        <span class="order-name">{{ `browse-series.order.${item.key}` | translate }}</span>
        <ng-icon class="icon" [name]="item.icon"></ng-icon>
    </div>
</ng-template>

<ng-template #reportTypeContent let-item>
    <div class="language-item">
        <span class="language-name">{{ `report.type.${item.key}` | translate }}</span>
    </div>
</ng-template>