@import '../variables.less';

.t-root-content{
    width: 100%;
    height: 100%;
}

.topbar{
    width: 100%;
    height: @topbar-height;
    position: absolute;
    top: 0;
    left: 0; right: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity var(--transition-duration) ease;

    &.loaded{
        opacity: 1;
    }
}

.sidebar{
    width: @sidebar-width;
    height: calc(100% - @topbar-height);
    box-shadow:  2px 0px 8px 2px rgba(0,0,0,.05);
    float:left;
    transition: width var(--transition-duration) ease, background var(--transition-duration) ease, opacity var(--transition-duration) ease;
    margin-top: @topbar-height;
    opacity: 0;

    &.loaded{
        opacity: 1;
    }

    &.expanded{
        width: @sidebar-expanded-width;
    }
}

.main-content{
    width: calc(100% - @sidebar-width);
    height: 100%;
    float: left;
    clear: right;
    transition: width var(--transition-duration) ease, background var(--transition-duration) ease, opacity var(--transition-duration) ease;
    overflow-y: auto;
    position: relative;
    opacity: 0;

    &.loaded{
        opacity: 1;
    }

    &::-webkit-scrollbar{width: 0;}

    &.expanded{
        width: calc(100% - @sidebar-expanded-width);
    }
}

::ng-deep tui-hint[data-appearance=error]{
    background-color: rgb(var(--accent-color)) !important;
    color: white !important;
}

::ng-deep body.light{
    .main-content{background-color: @bg-color;}
    .sidebar{background-color: @sidebar-color;}
}

::ng-deep body.dark{
    .main-content{background-color: @dark-bg-color;}
    .sidebar{background-color: @dark-sidebar-color;}
    ::ng-deep tui-data-list-wrapper, ::ng-deep tui-dropdown{background-color: #444;}
    ::ng-deep tui-dropdown .language-name, ::ng-deep tui-dropdown .order-name, ::ng-deep tui-dropdown tui-icon, ::ng-deep tui-dropdown ng-icon{color: #ccc;}
    ::ng-deep tui-hint{background-color: #444 !important; color: #ccc !important;}
}

@media (prefers-color-scheme: light) {
    ::ng-deep body.system{
        .main-content{background-color: @bg-color;}
        .sidebar{background-color: @sidebar-color;}
    }
}

@media (prefers-color-scheme: dark) {
    ::ng-deep body.system {
        .main-content{background-color: @dark-bg-color;}
        .sidebar{background-color: @dark-sidebar-color;}
        ::ng-deep tui-data-list-wrapper, ::ng-deep tui-dropdown{background-color: #444;}
        ::ng-deep tui-dropdown .language-name, ::ng-deep tui-dropdown .order-name, ::ng-deep tui-dropdown tui-icon, ::ng-deep tui-dropdown ng-icon{color: #ccc;}
        ::ng-deep tui-hint{background-color: #444 !important; color: #ccc !important;}
    }
}