<div class="banner-wrapper">
    <div class="banner" *ngIf="user">
        <img *ngIf="user?.id && !image" [src]="`${cdn_url}/user/avatar/${user?.id}/scaled?hash=${imageHash}`" tuiLoading="lazy">
        <img *ngIf="image" [src]="base64" tuiLoading="lazy">
        <div class="banner-overlay"></div>
    </div>
    <div class="content" *ngIf="user" [class.loading]="loading">
        <div class="top-wrapper">
            <div class="cover-wrapper">
                <img *ngIf="user?.id && !image" [src]="`${cdn_url}/user/avatar/${user?.id}/scaled?hash=${imageHash}`" tuiLoading="lazy">
                <img *ngIf="image" [src]="base64" tuiLoading="lazy">
            </div>
            <div class="wrapper">
                <label tuiInputFiles>
                    <input accept="image/*" tuiInputFiles [multiple]="false" [(ngModel)]="image" (ngModelChange)="imageUpdate($event,'front')"/>
                    <ng-template let-dragged>
                        {{ 'volume.upload-hint' | translate }}
                    </ng-template>
                </label>
                <tui-files class="file">
                    <tui-file state="normal" [file]="image" (remove)="imageRemoved($event,'front')" *ngIf="image"/>
                </tui-files>
                <tui-loader class="loader" [overlay]="true" [showLoader]="uploadingImage">
                    <button size="s" tuiButton type="button" class="upload" [disabled]="!image" appearance="accent" (click)="uploadImage()"><ng-icon name="tablerUpload" class="icon"></ng-icon>{{ 'volume.upload' | translate }}</button>
                </tui-loader>
                <tui-loader class="loader" [overlay]="true" [showLoader]="deletingImage">
                    <button size="s" tuiButton type="button" class="cancel" *ngIf="user.profile_image" appearance="accent" (click)="deleteImage()"><ng-icon name="tablerTrash" class="icon"></ng-icon>{{ 'volume.context.delete' | translate }}</button>
                </tui-loader>
            </div>
            <div class="details" *ngIf="editUser">
                <div class="header-title">
                    <span>Details</span> <!-- TODO Translate -->
                </div>
                <div class="wrapper" [style.marginTop.px]="10">
                    <label>
                        {{ 'user.name' | translate }}
                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                            <input tuiTextfield [(ngModel)]="editUser.username">
                        </tui-textfield>
                    </label>
                    <label>
                        {{ 'user.slug' | translate }}
                        <tui-textfield tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true" class="input">
                            <input tuiTextfield [(ngModel)]="editUser.slug" [readOnly]="true">
                        </tui-textfield>
                    </label>
                </div>
                <div class="wrapper">
                    <label>
                        {{ "tables.users.role" | translate }}
                        <tui-select tuiTextfieldSize="s" [(ngModel)]="editUser.role" [tuiTextfieldLabelOutside]="true">
                            <tui-data-list-wrapper *tuiDataList [items]="roles"></tui-data-list-wrapper>
                        </tui-select>
                    </label>
                    <label class="switch-input">
                        {{ "tables.users.age_verified" | translate }}
                        <input tuiSwitch type="checkbox" [(ngModel)]="editUser.age_verified" [size]="'m'"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <button size="s" tuiButton type="button" class="cancel" [disabled]="saving" appearance="accent" (click)="removeLock()" *ngIf="user">{{ 'publisher.free-lock' | translate }}</button>
            <button size="s" tuiButton type="button" class="cancel" [disabled]="user?.logged_in === false || currentUser().id == user.id" appearance="accent" (click)="logoutUser()">{{ `user.logout` | translate }}</button>
            <tui-loader class="loader" [overlay]="true" [showLoader]="saving">
                <button size="s" tuiButton type="button" class="save" [disabled]="saving" appearance="accent" (click)="saveEdit()" *ngIf="user">{{ 'publisher.save' | translate }}</button>
            </tui-loader>
        </div>
        <div class="placeholder" style="width: 100%; height: 20px;"></div>
    </div>
</div>

<ng-template #languageContent let-item>
    <div class="language-item">
        <img class="language-image" crossorigin="anonymous" [src]="`./img/flags/${item.value}.png`">
        <span class="language-name">{{ `language.${item.value}` | translate }}</span>
    </div>
</ng-template>

<ng-template #relationTypeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `contributor.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #contributorContent let-item>
    <div class="contributor-item">
        <span class="contributor-name">{{ item.name }}</span>
    </div>
</ng-template>

<ng-template #typeContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `contributor.type.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>

<ng-template #genderContent let-item>
    <div class="type-item">
        <span class="type-name">{{ `contributor.gender.${item.key.toLowerCase()}` | translate }}</span>
    </div>
</ng-template>