:root{
    --light-accent: 141, 212, 113;
    --accent-color: 113, 201, 78;
    --mid-accent: 93, 167, 64;
    --dark-accent: 72, 131, 49;
}

@bg-color: #dedede;

@topbar-height: 60px;
@topbar-color: #fff;

@sidebar-color: #eee;
@sidebar-width: 60px;
@sidebar-expanded-width: 260px;
@sidebar-version-bg: #ddd;

@transition-time: 0.3s;